@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
header{
  margin: 40px 0 0 0;
}
h1{
  font-size:10vh;
  letter-spacing: 1.9px;
  text-align: center;
  font-family: 'Special Elite', cursive;
}