@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Special+Elite&display=swap');
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;

  
}
.card-group{
  margin: 20px;
}
 .card{

 border: solid 1px;
 margin: 1vw ;
padding: 2vw;
 font-family: 'Special Elite', cursive;
 width: max-content;
 height: max-content;
} 

.card img{
  text-align: center;
  /* width: 200px;
  height: 200px; */
}

main p:last-of-type{
  overflow: auto;
}