@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Special+Elite&display=swap');
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;

  
}
.card-group{
  margin: 20px;
}

.card-body p:last-of-type:hover  {

  color: aqua;
  cursor:pointer;
  user-select: none; 

}
 .card{

 border: solid 1px;

padding: 2vw;
 font-family: 'Special Elite', cursive;
 width: max-content;
 height: max-content;
} 

.card img{
  text-align: center;

}
.modal-body{
  font-family: 'Special Elite', cursive;

  
}
.modal-content{
  width: 80%;
  height: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  display: block;
  align-items: center;
  overflow :visible;
}

/* main p:last-of-type{
  overflow: auto;
} */